html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4ed768c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.heading {
  padding-left: 5%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ea210c;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  color: #6d2922;
}

.leftPanel {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
}

.itemStyle {
  min-width: 177px;
  min-height: 200px;
  width: 30%;
  height: 38%;
  border: 1vh solid #e5b27c;
  margin: 5px;
  border-radius: 5px;
  padding-bottom: 2%;
}
.title {
  padding: 2%;
  padding-left: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prize-container {
  display: flex;
  justify-content: space-around;
}
.order-btn {
  height: 5%;
  width: 40%;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.rightPanel {
  width: 30%;
  height: 100%;
}

.added-item {
  height: 30%;
  overflow: auto;
}
.item-header {
  display: flex;
  justify-content: space-around;
  height: 6%;
  align-items: center;
}

.added-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}
.actualPrize {
  width: 17%;
}

.added-img {
  /* height: 100%;
  width: 25%; */
  height: 30px;
  width: 30px;
}
.img {
  max-width: 100%;
  display: block;
  height: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.tots {
  display: flex;
}

.tots > div {
  width: 40%;
}
.btn {
  border: 1px solid;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-container {
  display: flex;
  width: 60%;
}
.btn-container {
  display: flex;
  width: 30%;
  width: 12%;
  justify-content: space-around;
}

.total-container {
  margin-left: 5%;
  width: 90%;
  padding: 2%;
  background: wheat;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (max-width: 1090px) and (min-width: 884px) {
  body {
    font-size: 13px;
  }

  .itemStyle {
    width: 40%;
  }
}

.center {
  justify-content: center;
}

@media all and (max-width: 884px) {
  body {
    font-size: 12px;
  }
  .leftPanel {
    width: 100%;
    justify-content: center;
  }
  .rightPanel {
    width: 100%;
    display: flex;
  }
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .itemStyle {
    width: 60%;
  }
  .added-item {
    width: 60%;
  }
  .total-container {
    width: 35%;
  }
}
