html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aqua;
}
.heading {
  margin-left: 5%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.leftPanel {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.itemStyle {
  min-width: 150px;
  min-height: 200px;
  width: 30%;
  height: 38%;
  border: 1px solid;
  margin: 5px;
}

.prize-container {
  display: flex;
  justify-content: space-around;
}
.order-btn {
  height: 5%;
  width: 40%;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}
.rightPanel {
  width: 30%;
  height: 100%;
}

.added-item {
  height: 30%;
  overflow: auto;
}
.item-header {
  display: flex;
  justify-content: space-around;
  height: 6%;
  align-items: center;
}

.added-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

.added-img {
  height: 100%;
  width: 10%;
}
.img {
  max-width: 100%;
  display: block;
  height: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.tots {
  display: flex;
}

.tots > div {
  width: 40%;
}
.btn {
  border: 1px solid;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
